<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/debts/new.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
		<title>SiongGukGuk's Debts</title>
	</head>

	<body>
    
    <div class="container">
      <h1>Create New Debt</h1>
      <div class="row">
        <div class="col-lg-3 col-md-2 col-sm-0 col-xs-0"></div>
        <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
          <form action="/debts" method="POST">
            <div class="form-group">
              <label for="title">Title (Judul)</label>
              <input type="text" class="form-control" id="title" name="title" placeholder="Enter title">
              <small class="form-text text-muted">Please use a descriptive naming</small>
            </div>
            <div class="form-group">
              <label for="start_date">Start Date (Tanggal Mulai)</label>
              <input type="date" class="form-control" id="start_date" name="start_date" placeholder="yyyy/mm/dd">
            </div>
            <div class="form-group">
              <label for="capital">Capital (Modal)</label>
              <input type="number" value="" class="form-control" id="capital" name="capital" placeholder="Capital (ex. 100,000)">
            </div>
            <div class="form-group">
              <label for="rate">Rate (Bunga)</label>
              <input type="number" value="" min="1" max="100" class="form-control" id="rate" name="rate" placeholder="Rate (1-100)%"> %
            </div>
            <div class="form-group">
              <label>Extra Cost</label>
              <div id="extras_wrapper">
                <!-- PUT EXTRAS HERE -->
              </div>
              <button type="button" id="add_button" class="btn btn-outline-primary">Add</button>
            </div>
            <button class="btn btn-primary btn-block">Create</button>
          </form>
        </div>
        <div class="col-lg-3 col-md-2 col-sm-0 col-xs-0"></div>
      </div>
    </div>

    <script type="text/javascript" src="/scripts/debts/new.js"></script>

<% include ../partials/debtsFooter %>
